/* CSS Document */
body,div{padding:0; margin:0;}
#redBlock{
	width:200px;
	height:200px;
	background:#900;
	margin-top:20px;
	margin-left:20px;
}
#blueBlock{
	width:300px;
	height:200px;
	background:#009;
	margin-top:20px;
	margin-left:20px;
}
