<html>
<head>
<title><!--{$title}--></title>
</head>
<html>
<h1><!--{$title}-->!</h1>
<!--{section name = list loop = $news}-->
<b><font color="red">
<!--{$news[list].name}-->--<!--{$news[list].date}--><br /></font></b>
<!--{sectionelse}-->
暂无日期数据
<!--{/section}-->
<!--{$row[0]}-->--<!--{$row[1]}-->--<!--{$row[2]}-->
<br />
<!--name冲突，如果上面有个name的变量，$news[list].name正常，$v.name冲突，为什么现在又正常了，可能是缓存吧-->
<!--{foreach from=$news key=j item=v}-->
<b><font color="red">
<!--{$j}-->--<!--{$v.name}--><br /></font></b>
<!--{/foreach}-->

<!--{section name = list loop = $todaynews}-->
<b><font color="red">
<!--{$news[list].name}-->--<!--{$news[list].date}--><br /></font></b>
<!--{sectionelse}-->
暂无日期数据
<!--{/section}-->
<!--{$row[0]}-->--<!--{$row[1]}-->--<!--{$row[2]}-->
<br />
<!--name冲突，如果上面有个name的变量，$news[list].name正常，$v.name冲突，为什么现在又正常了，可能是缓存吧-->
<!--{foreach from=$todaynews key=j item=v}-->
<b><font color="red">
<!--{$j}-->--<!--{$v.name}--><br /></font></b>
<!--{/foreach}-->

<!--{section name=customer loop=5}-->
id: <!--{$name[customer]}--><br>
name: <!--{$date[customer]}--><br>
address: <!--{$address[customer]}--><br>
	<p>
<!--{/section}-->
<!--{section name=loop loop=$menu}-->  

<!--{$menu[loop].menuCss}--> 
<!--{$menu[loop].menuUrl}-->
<!--{$menu[loop].menuName}-->
<!--{/section}--> 

</html>